.App{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.Box{
  text-align: center;
  padding: 20vh 0px;
  width: 40vw;
  height: 50vh;
  background-color: rgb(160, 33, 245);
  color: aliceblue;
}
.controls{
  width: 40vw;
}